<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="FB Messenger Plugin"
      ba-panel-class="with-scroll"
      class="fb-messenger"
      >
      <form name='fb_form' ng-submit="submit()">
        <div class="row">
          <div class="col-md-4">
            <label>Facebook Page ID:</label>
            <div class="help-info" style='margin-bottom:10px'>
              <a href="https://www.wikihow.com/Find-a-Page-ID-on-Facebook" target="_blank">
                Here's how to get your Facebook page ID
              </a>
            </div>
            <input type="text" class="form-control" ng-model="$parent.facebook" placeholder="ex. 1629986620602076" required/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <label>Call to action:</label>
            <input type="text" class="form-control" ng-model="$parent.call_to_action" required/>
          </div>
        </div>
        <br/>
        
        <div class="row">
          <div class="col-md-4">
            <label>Position:</label>
            <select ng-options="s as s.toUpperCase() for s in ['left', 'right']" class="form-control" ng-model="$parent.position">
            </select>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <div class="input-demo checkbox-demo">
              <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" ng-model="$parent.hide_on_offline">
                <span>
                  Hide button if disconnected
                </span>
              </label>
            </div>
          </div>
        </div>
        <br/>
        <button type="submit" ng-disabled="fb_form.$invalid" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </div>
</div>
